<nav class="navbar navabr-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="/logo.png" alt=""></a>
    <form class="d-flex" role="search">
      <a id="create_avatar_btn" href="/avatar_create" class="btn btn-warning">Create your Avatar</a>
    </form>
  </div>
</nav>